<div class="dialog-title">
  <mat-icon class="dialog-icon">cloud_upload</mat-icon>
  <h1 mat-dialog-title>upload to cloud</h1>
</div>
<div mat-dialog-content>
  <div class="example-container">
    <p>{{data.filename}}</p>
    <mat-form-field>
      <input matInput placeholder="ユーザー名" [(ngModel)]="data.user_id">
    </mat-form-field>
    <mat-form-field>
    <textarea matInput placeholder="メモ" [(ngModel)]="data.comment" matTextareaAutosize matAutosizeMinRows="1"
    matAutosizeMaxRows="8"></textarea>
<!--
    <input matInput placeholder="メモ" [(ngModel)]="data.comment">
-->
    </mat-form-field>
<!--
    <mat-form-field>
      <input matInput disabled placeholder="ファイル名" [(ngModel)]="data.filename">
    </mat-form-field>
  -->
  </div>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span><!-- これで右寄せ -->
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="getResult()" cdkFocusInitial>OK</button>
</div>
