<div class="dialog-title">
  <mat-icon class="dialog-icon">cloud_download</mat-icon>
  <h1 mat-dialog-title>download from cloud</h1>
</div>
<div mat-dialog-content>
  <div class="example-container2">
    <mat-form-field>
      <input matInput placeholder="ユーザー名" [(ngModel)]="data.user_id">
    </mat-form-field>
    <button mat-icon-button color="primary">
      <mat-icon aria-label="search" (click)="onSearch()">search</mat-icon>
    </button>
  </div>
  <div class="card-area">
    <div *ngIf="searching; else elseBlock" class="card-area-spinner">
      <mat-spinner></mat-spinner>
    </div>
    <ng-template #elseBlock>
<!--
      <div *ngFor="let f of files">{{f.filename}}</div>
-->
      <div *ngFor="let f of files.reverse()" class="card-around">
        <mat-card (click)="onCardSelect(f)" [class.selected]="f===selectedItem">
          <mat-card-header>
            <mat-card-title>
              {{f.filename}}
            </mat-card-title>
            <mat-card-subtitle>
              upload日時: {{f.upload_date}}
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <pre class="card-content">{{f.comment}}</pre>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </div>
</div>
<div mat-dialog-actions>
  <span class="example-spacer"></span><!-- これで右寄せ -->
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button color="accent" [mat-dialog-close]="getResult()" cdkFocusInitial>OK</button>
</div>
