<div class="dialog-title">
  <mat-icon class="dialog-icon">settings</mat-icon>
  <h1 mat-dialog-title>settings</h1>
</div>

<div mat-dialog-content>
  <div class="example-container">
    <mat-form-field>
      <input matInput placeholder="Base URL of Web API" [(ngModel)]="data.url">
    </mat-form-field>

    <mat-checkbox [(ngModel)]="data.smoothScroll">Smooth Scroll</mat-checkbox>

    <div>
    zoom速度(※)  　　遅い
    <mat-slider min="1" max="10" thumbLabel="true" [(ngModel)]="data.wheelSensitivity"></mat-slider>
    速い
    </div>
    <div>
      ※　次回ファイルを開いたときに有効
    </div>
  </div>
</div>

<div mat-dialog-actions>
  <span class="example-spacer"></span><!-- これで右寄せ -->
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="getResult()" cdkFocusInitial>OK</button>
</div>
