<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <span>jjv</span>
<!--
      <span class="example-spacer"></span>
    <nav>
        <a routerLink="/simple-send" routerLinkActive="active">Simple Send</a>
        <a routerLink="/file-send" routerLinkActive="active">File Send</a>
        <a routerLink="/cards" routerLinkActive="active">Cards</a>
        <a routerLink="/history" routerLinkActive="active">History</a>
        <a routerLink="/xml" routerLinkActive="active">XML</a>
        <a routerLink="/scroll" routerLinkActive="active">Scroll</a>
        <a routerLink="/logo" routerLinkActive="active">Logo</a>
    </nav>
  -->
  </mat-toolbar-row>
</mat-toolbar>

<div id="content">
  <div *ngIf="fileLoaded; else elseBlock">
    fileLoaded === true
  </div>
  <ng-template #elseBlock>
    <div>
      fileLoaded === false
      <div>
        JDF/JMFファイルを選択して下さい
        <input id="input-file-id" type="file" #fileInput (change)="onChanged(fileInput.value)" accept=".xml,.jdf,.jmf">
        <!--
            <label for="input-file-id" class="mat-raised-button mat-primary">Choose JDF/JMF</label>
        -->
          <button mat-raised-button color="warn" (click)="yes(fileInput.files[0])" [disabled]="!fileSelected">選択したファイルを読みん込んで表示</button>
            </div>
    </div>
  </ng-template>
  abcdef
  <div id="cy"></div>
</div>

