<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <span>jjv</span>
    <span class="example-spacer"></span>
    <nav *ngIf="fileLoaded">
<!--      <button mat-button>Basic</button>
      <button mat-raised-button color="warn" (click)="clear()">クリア</button>
-->
      <button mat-icon-button (click)="clear()">
        <mat-icon aria-label="Example icon-button with a heart icon">clear</mat-icon>
      </button>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div id="content">
  <div *ngIf="fileLoaded; else elseBlock">
    <div id="cy"></div>
    <div>
      <button mat-raised-button color="warn" (click)="relayout()">再レイアウト</button>
    </div>
  </div>
  <ng-template #elseBlock>
    <div>
      <div>
        JDF/JMFファイルを選択して下さい
        <input id="input-file-id" type="file" #fileInput (change)="onChanged(fileInput.value)" accept=".xml,.jdf,.jmf">
        <!--
            <label for="input-file-id" class="mat-raised-button mat-primary">Choose JDF/JMF</label>
        -->
          <button mat-raised-button color="warn" (click)="yes(fileInput.files[0])" [disabled]="!fileSelected">選択したファイルを読みん込んで表示</button>
            </div>
    </div>
  </ng-template>
</div>

