.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
  flex: 1 1 auto;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
/*    border-bottom: 1px solid black;*/
/*    border: 2px outset blue; */
    box-shadow: 0px 4px 5px gray;
}

#content {
    padding-top: 80px;
}

nav a {
    color:#fff;
    text-decoration: none;
    font-size: 80%;
    padding: 8px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav a:hover {
    color:#fff;
    text-decoration: underline;
}

nav a.active {
    background-color: black;
}

#cy {
    width: 400px;
    height: 300px;
    display: block;
/*    background: #ddddff;*/
    border-radius: 4px;
    -webkit-border-radius: 4px;/* for Safari and Chrome 対応*/
    -moz-border-radius: 4px;/* for Firefox 対応*/
    box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.2)
    ,0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
/*border:1px solid #000;*/
}

label.selectFile {
    color: white;  
    background-color: red;
    padding: 6px;
    border-radius: 12px;
  }