.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
  flex: 1 1 auto;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
/*    border-bottom: 1px solid black;*/
/*    border: 2px outset blue; */
    box-shadow: 0px 4px 5px gray;
}

#content {
    padding-top: 80px;
}

nav a {
    color:#fff;
    text-decoration: none;
    font-size: 80%;
    padding: 8px 10px;
    border-radius: 10px 10px 10px 10px;
}

nav a:hover {
    color:#fff;
    text-decoration: underline;
}

nav a.active {
    background-color: black;
}

.example-card {
    margin-left: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}
  
.mat-table {
    overflow: auto;
    max-height: 300px;
}

.like-link {
    color: #55aa55;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.my-smaller {
    font-size: 80%;
}

.selected {
/*    font-weight: bold;*/
/*    color: red;*/

    box-shadow: 0px 0px 15px blue;
}


#cy {
    width: 300px;
    height: 450px;
    display: block;
/*    background: #ddddff;*/
    border-radius: 4px;
    -webkit-border-radius: 4px;/* for Safari and Chrome 対応*/
    -moz-border-radius: 4px;/* for Firefox 対応*/
    box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.2)
    ,0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
/*border:1px solid #000;*/
}

#fmenu {
    float: left;
    width: 306px;
    position: fixed;
    margin: 8px;
    padding: 8px;
/*
    border: lightgray;
    box-shadow: 2px 2px 6px gray;
    border-radius: 4px;
*/
/*    -webkit-border-radius: 4px;/* for Safari and Chrome 対応*/
/*    -moz-border-radius: 4px;/* for Firefox 対応*/
}

#main {
/*    position: absolute;*/ /* うーん。どうすればヘッダーに隠れずに済ませられるのか。ScrollToするとヘッダーの下にジャンプすることがあるのよ */
    padding-left: 340px;
}


label.selectFile {
    color: white;  
    background-color: red;
    padding: 6px;
    border-radius: 12px;
}

.iconX {
    display: inline-block;
    line-height: 30px;
    padding-left: 30px;
    background: url("../assets/ic_folder_open_white_24px.svg") no-repeat scroll 0 0 transparent;
  }