<mat-toolbar color="primary" class="header">
  <mat-toolbar-row>
    <span>jjv</span>
    <span class="example-spacer"></span>
    <nav *ngIf="fileLoaded; else elseBlock2">
      <!-- ファイル開いている時 -->
<!--
      <button mat-icon-button matTooltip="関連情報" matTooltipPosition="above">
        <mat-icon aria-label="more ...">more_vert</mat-icon>
      </button>
    -->
      <span class="toolbar-fn">{{filename}}</span>

      <button mat-icon-button (click)="clear()" matTooltip="閉じる" matTooltipPosition="above">
        <mat-icon aria-label="close file">clear</mat-icon>
      </button>
      <button mat-icon-button (click)="uploadToCloud()" matTooltip="クラウドに保存" matTooltipPosition="above">
        <mat-icon aria-label="upload">cloud_upload</mat-icon>
      </button>
      <a id="save-to-file" href="#" download="dummy.txt" style="display: none;"></a>
      <button mat-icon-button (click)="saveToFile()" matTooltip="ファイルに保存" matTooltipPosition="above">
        <mat-icon aria-label="save">save</mat-icon>
      </button>
    </nav>
    <ng-template #elseBlock2>
      <!-- ファイル開いていない時 -->
      <nav>
        <div>
<!--          {{filename}}
-->
<!--
          <label for="input-file-id" class="selectFile iconX">
            ＋JDFを選択
              <input id="input-file-id" type="file" #fileInput (change)="onChanged(fileInput.files[0])" accept=".xml,.jdf" style="display: none;">
          </label>
        -->
          <input id="input-file-id" type="file" #fileInput (change)="onChanged(fileInput.files[0])" accept=".xml,.jdf" style="display: none;">
          <button mat-icon-button (click)="openFileDialog()" matTooltip="ファイルを開く" matTooltipPosition="above">
            <mat-icon aria-label="Open file">folder_open</mat-icon>
          </button>
          <button mat-icon-button (click)="downloadFromCloud()" matTooltip="クラウドから開く" matTooltipPosition="above">
            <mat-icon aria-label="download">cloud_download</mat-icon>
          </button>
<!--
        <button mat-raised-button color="warn" (click)="yes(fileInput.files[0])" [disabled]="!fileSelected">選択したファイルを読みん込んで表示</button>
-->
        </div>
      </nav>
    </ng-template>
    <!-- 共通 -->
    <button mat-icon-button (click)="openSettings()" matTooltip="設定" matTooltipPosition="above">
      <mat-icon aria-label="Settings ...">settings</mat-icon>
    </button>
    <button mat-icon-button (click)="openAbout()" matTooltip="バージョン情報" matTooltipPosition="above">
      <mat-icon aria-label="About ...">info</mat-icon>
    </button>
  </mat-toolbar-row>
</mat-toolbar>

<div id="content">
  <div *ngIf="fileLoaded; else elseBlock">
    <!-- ファイル開いている時 -->
    <div id="fmenu">
      <div class="light-frame">
        <div id="cy"></div>
        <div class="graph-tool">
          <button mat-icon-button (click)="relayout()" matTooltip="再整列" matTooltipPosition="above">
            <mat-icon aria-label="update">refresh</mat-icon>
          </button>
          <button mat-icon-button (click)="saveGraphAsPNG()" matTooltip="pngとして保存" matTooltipPosition="above">
            <mat-icon aria-label="save as png">file_download</mat-icon>
          </button>
          <a id="save-as-png" href="#" style="display: none;"></a>
        </div>
      </div>
      <div>
        <div *ngIf="jdf.jobTag !== null" class="like-link" (click)="scrollTo('job_top')">Job</div>
        <div *ngIf="jdf.processTags.length>0" class="like-link" (click)="scrollTo('process_top')">Processes</div>
        <div *ngIf="jdf.componentTags.length>0" class="like-link" (click)="scrollTo('component_top')">Components</div>
        <div *ngIf="jdf.deviceTags.length>0" class="like-link" (click)="scrollTo('device_top')">Devices</div>
        <div *ngIf="jdf.stitchingParamsTags.length>0" class="like-link" (click)="scrollTo('stitchingParams_top')">StitchingParams</div>
        <div *ngIf="jdf.trimmingParamsTags.length>0" class="like-link" (click)="scrollTo('trimmingParams_top')">TrimmingParams</div>
        <div *ngIf="jdf.cuttingParamsTags.length>0" class="like-link" (click)="scrollTo('cuttingParams_top')">CuttingParams</div>
        <div *ngIf="jdf.foldingParamsTags.length>0" class="like-link" (click)="scrollTo('foldingParams_top')">FoldingParams</div>
        <div *ngIf="jdf.spinePreparationParamsTags.length>0" class="like-link" (click)="scrollTo('spinePreparationParams_top')">SpinePreparationParams</div>
        <div *ngIf="jdf.coverApplicationParamsTags.length>0" class="like-link" (click)="scrollTo('coverApplicationParams_top')">CoverApplicationParams</div>
        <div *ngIf="jdf.stackingParamsTags.length>0" class="like-link" (click)="scrollTo('stackingParams_top')">StackingParams</div>
        <div *ngIf="jdf.unknownResourceTags.length>0" class="like-link" (click)="scrollTo('unknownResources_top')">Unknown Resources</div>
      </div>
    </div>

    <div id="main">
      <div *ngIf="jdf.jobTag !== null">
        <h3 id="job_top">Job</h3>
        <div id="{{jdf.jobTag.guid}}" class="example-card" (click)="cardClicked(jdf.jobTag.guid)">
          <mat-card>
            <mat-card-header>
              <mat-card-title>{{jdf.jobTag.id}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <table rules="rows">
                <tr>
                  <td>ID</td>
                  <td>{{jdf.jobTag.id}}</td>
                </tr>
                <tr>
                  <td>JobID</td>
                  <td>{{jdf.jobTag.jobId}}</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>{{jdf.jobTag.type}}</td>
                </tr>
                <tr>
                  <td>DescriptiveName</td>
                  <td>{{jdf.jobTag.descriptiveName}}</td>
                </tr>
              </table>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title></mat-panel-title>
                  <mat-panel-description>JDF全部</mat-panel-description>
                </mat-expansion-panel-header>
                <pre><code class="html" [textContent]="jdf.jobTag.body" appMyHighlight></code></pre>
              </mat-expansion-panel>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    
      <div *ngIf="jdf.processTags.length>0">
        <h3 id="process_top">Processes</h3>
        <div>
          <div *ngFor="let t of jdf.processTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card"  (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>JobPartID</td>
                    <td>{{t.jobPartId}}</td>
                  </tr>
                  <tr>
                    <td>Type</td>
                    <td>{{t.type}}</td>
                  </tr>
                  <tr>
                    <td>DescriptiveName</td>
                    <td>{{t.descriptiveName}}</td>
                  </tr>
                  <tr *ngIf="t.inputComponentLinks.length>0">
                    <td>入力</td>
                    <td>
                        <table rules="rows">
                          <tr>
                            <th></th>
                            <th><span class="my-smaller">Amount</span></th>
                          </tr>
                          <tr *ngFor="let l of t.inputComponentLinks">
                            <td><span class="like-link" (click)="scrollAndSelectTo($event,jdf.getResourceTagById(l.rRef).guid)">{{l.rRef}}</span></td>
                            <td><span *ngIf="l.amount>0">{{l.amount|number}}</span></td>
                          </tr>
                        </table>
                        <!--
                      <div *ngFor="let l of t.inputComponentLinks">
                        <span class="like-link" (click)="scrollTo(l.rRef)">{{l.rRef}}</span>
                        <span *ngIf="l.amount>0" class="my-smaller">Amount: {{l.amount}}</span>
                      </div>
                    -->
                    </td>
                  </tr>
                  <tr *ngIf="t.outputComponentLinks.length>0">
                    <td>出力</td>
                    <td>
                        <table rules="rows">
                          <tr>
                            <th></th>
                            <th><span class="my-smaller">Amount</span></th>
                          </tr>
                          <tr *ngFor="let l of t.outputComponentLinks">
                            <td><span class="like-link" (click)="scrollAndSelectTo($event,jdf.getResourceTagById(l.rRef).guid)">{{l.rRef}}</span></td>
                            <td><span *ngIf="l.amount>0">{{l.amount|number}}</span></td>
                          </tr>
                        </table>
                      <!--
                      <div *ngFor="let l of t.outputComponentLinks">
                        <span class="like-link" (click)="scrollTo(l.rRef)">{{l.rRef}}</span>
                        <span *ngIf="l.amount>0" class="my-smaller">Amount: {{l.amount}}</span>
                      </div>
                    -->
                    </td>
                  </tr>
                  <tr *ngIf="t.paramsLinks.length>0">
                    <td>加工情報</td>
                    <td>
                      <div *ngFor="let l of t.paramsLinks">
                        <span class="like-link" (click)="scrollAndSelectTo($event,jdf.getResourceTagById(l.rRef).guid)">{{l.rRef}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="t.deviceLinks.length>0">
                    <td>デバイス情報</td>
                    <td>
                      <div *ngFor="let l of t.deviceLinks">
                        <span class="like-link" (click)="scrollAndSelectTo($event,jdf.getResourceTagById(l.rRef).guid)">{{l.rRef}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
    
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.componentTags.length>0">
        <h3 id="component_top">Components</h3>
        <div>
          <div *ngFor="let t of jdf.componentTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>ComponentType</td>
                    <td>{{t.componentType}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>Dimensions</td>
                      <td>
                        <!--
                        <table rules="rows">
                          <tr>
                            <td></td>
                            <td>Amount</td>
                          </tr>
                          <tr *ngFor="let l of t.outputComponentLinks">
                            <td><span class="like-link" (click)="scrollTo(l.rRef)">{{l.rRef}}</span></td>
                            <td><span *ngIf="l.amount>0">{{l.amount|number}}</span></td>
                          </tr>
                        </table>
                      -->
                        <table rules="rows">
                          <tr>
                            <td></td>
                            <th><span class="my-smaller">pt</span></th>
                            <th><span class="my-smaller">mm</span></th>
                          </tr>
                          <tr>
                            <td>幅</td>
                            <td>{{t.getDimensionsWidth()}}</td>
                            <td>{{t.getDimensionsWidth_mm()}}</td>
                          </tr>
                          <tr>
                            <td>長さ</td>
                            <td>{{t.getDimensionsLength()}}</td>
                            <td>{{t.getDimensionsLength_mm()}}</td>
                          </tr>
                          <tr>
                            <td>厚さ</td>
                            <td>{{t.getDimensionsThickness()}}</td>
                            <td>{{t.getDimensionsThickness_mm()}}</td>
                          </tr>
                        </table>
                      </td>
                  </tr>
<!--
                    <tr>
                    <td>Dimensions <span class="my-smaller">[mm]</span></td>
                    <td>
                        <table rules="rows">
                          <tr>
                            <td>幅</td>
                            <td>{{t.getDimensionsWidth_mm()}}</td>
                          </tr>
                          <tr>
                            <td>長さ</td>
                            <td>{{t.getDimensionsLength_mm()}}</td>
                          </tr>
                          <tr>
                            <td>厚さ</td>
                            <td>{{t.getDimensionsThickness_mm()}}</td>
                          </tr>
                        </table>
                    </td>
                  </tr>
                -->
                  <tr *ngIf="jdf.getPreviousProcesses(t).length>0">
                    <td>前工程 <span class="my-smaller">（生成元）</span></td>
                    <td>
                      <div *ngFor="let l of jdf.getPreviousProcesses(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,l.guid)">{{l.id}}</span>
                      </div>
                    </td>
                  </tr>
                  <tr *ngIf="jdf.getNextProcesses(t).length>0">
                    <td>次工程</td>
                    <td>
                      <div *ngFor="let l of jdf.getNextProcesses(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,l.guid)">{{l.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.deviceTags.length>0">
        <h3 id="device_top">Devices</h3>
        <div>
          <div *ngFor="let t of jdf.deviceTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>DeviceID</td>
                    <td>{{t.deviceId}}</td>
                  </tr>
                  <tr>
                    <td>FriendlyName</td>
                    <td>{{t.friendlyName}}</td>
                  </tr>
                  <tr *ngIf="jdf.getProcessesUsingThisDevice(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisDevice(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.stitchingParamsTags.length>0">
        <h3 id="stitchingParams_top">StitchingParams</h3>
        <div>
          <div *ngFor="let t of jdf.stitchingParamsTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>NumberOfStitches</td>
                    <td>{{t.numberOfStitches}}</td>
                  </tr>
                  <tr>
                    <td>StapleShape</td>
                    <td>{{t.stapleShape}}</td>
                  </tr>
                  <tr *ngIf="jdf.getProcessesUsingThisParams(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.trimmingParamsTags.length>0">
        <h3 id="trimmingParams_top">TrimmingParams</h3>
        <div>
          <div *ngFor="let t of jdf.trimmingParamsTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>NoOp</td>
                    <td>{{t.noOp}}</td>
                  </tr>
                  <tr>
                    <td>TrimmingType</td>
                    <td>{{t.trimmingType}}</td>
                  </tr>
                  <tr>
                    <td>Width</td>
<!--
                    <td>{{t.width}}</td>
-->
                    <td>
                        <table rules="rows">
                          <tr>
                            <th><span class="my-smaller">pt</span></th>
                            <th><span class="my-smaller">mm</span></th>
                          </tr>
                          <tr>
                            <td>{{t.width}}</td>
                            <td>{{t.getWidth_mm()}}</td>
                          </tr>
                        </table>
                    </td>
                  </tr>
                  <!--
                  <tr>
                    <td>Height <span class="my-smaller">[pt]</span></td>
                    <td>{{t.height}}</td>
                  </tr>
                -->
                  <!--
                  <tr>
                    <td>Width <span class="my-smaller">[mm]</span></td>
                    <td>{{t.getWidth_mm()}}</td>
                  </tr>
                -->
                  <tr>
                    <td>Height</td>
                    <td>
                        <table rules="rows">
                          <tr>
                            <th><span class="my-smaller">pt</span></th>
                            <th><span class="my-smaller">mm</span></th>
                          </tr>
                          <tr>
                            <td>{{t.height}}</td>
                            <td>{{t.getHeight_mm()}}</td>
                          </tr>
                        </table>
                    </td>
                    <!--
                    <td>{{t.getHeight_mm()}}</td>
                    -->
                  </tr>
                  <tr>
                    <td>TrimmingOffset</td>
                    <td>
                        <table rules="rows">
                          <tr>
                            <th><span class="my-smaller">pt</span></th>
                            <th><span class="my-smaller">mm</span></th>
                          </tr>
                          <tr>
                            <td>{{t.trimmingOffset}}</td>
                            <td>{{t.getTrimmingOffset_mm()}}</td>
                          </tr>
                        </table>
                    </td>
                    <!--
                    <td>{{t.getHeight_mm()}}</td>
                    -->
                  </tr>
                  <tr *ngIf="jdf.getProcessesUsingThisParams(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.foldingParamsTags.length>0">
        <h3 id="foldingParams_top">FoldingParams</h3>
        <div>
          <div *ngFor="let t of jdf.foldingParamsTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>DescriptionType</td>
                    <td>{{t.descriptionType}}</td>
                  </tr>
                  <tr>
                    <td>FoldCatalog</td>
                    <td>{{t.foldCatalog}}</td>
                  </tr>
                  <tr *ngIf="jdf.getProcessesUsingThisParams(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel *ngIf="t.folds.length>0">
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>Fold</mat-panel-description>
                  </mat-expansion-panel-header>
    
                  <div class="example-container mat-elevation-z8">
                    <mat-table #table3 [dataSource]="t.folds">
                  
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- To Column -->
                      <ng-container matColumnDef="to">
                        <mat-header-cell *matHeaderCellDef> To </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.to}} </mat-cell>
                      </ng-container>
                  
                      <!-- From Column -->
                      <ng-container matColumnDef="from">
                        <mat-header-cell *matHeaderCellDef> From </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.from}} </mat-cell>
                      </ng-container>
                  
                      <!-- Travel Column -->
                      <ng-container matColumnDef="travel">
                        <mat-header-cell *matHeaderCellDef> Travel </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.travel}} </mat-cell>
                      </ng-container>
    
                      <!-- Travel[mm] Column -->
                      <ng-container matColumnDef="travel_mm">
                        <mat-header-cell *matHeaderCellDef> Travel [mm] </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.getTravel_mm()}} </mat-cell>
                      </ng-container>
    
                      <mat-header-row *matHeaderRowDef="displayedColumns3"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns3;"></mat-row>
                    </mat-table>
                  </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>

              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.cuttingParamsTags.length>0">
        <h3 id="cuttingParams_top">CuttingParams</h3>
        <div>
          <div *ngFor="let t of jdf.cuttingParamsTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel *ngIf="t.cutBlocks.length>0">
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>CutBlock</mat-panel-description>
                  </mat-expansion-panel-header>

                  <div class="example-container mat-elevation-z8">
                    <mat-table #table2 [dataSource]="t.cutBlocks">
                  
                      <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
                  
                      <!-- ID Column -->
                      <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
                      </ng-container>
                  
                      <!-- Class Column -->
                      <!--
                      <ng-container matColumnDef="class">
                        <mat-header-cell *matHeaderCellDef> Class </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.klass}} </mat-cell>
                      </ng-container>
                    -->                  
                      <!-- BlockType Column -->
                      <ng-container matColumnDef="blockType">
                        <mat-header-cell *matHeaderCellDef> BlockType </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.blockType}} </mat-cell>
                      </ng-container>
                  
                      <!-- BlockName Column -->
                      <ng-container matColumnDef="blockName">
                        <mat-header-cell *matHeaderCellDef> BlockName </mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.blockName}} </mat-cell>
                      </ng-container>
    
                      <!-- BlockSize Column -->
                      <ng-container matColumnDef="blockSize">
                        <mat-header-cell *matHeaderCellDef>
                          BlockSize<br>
                          幅<br>
                          高さ
                        </mat-header-cell>
<!--
                        <mat-cell *matCellDef="let element"> {{element.blockSize}} </mat-cell>
-->
                        <mat-cell *matCellDef="let element">
                          {{element.getBlockWidth()}}<br>
                          {{element.getBlockHeight()}}
                        </mat-cell>
                      </ng-container>
    
                      <!-- BlockTrf Column -->
                      <ng-container matColumnDef="blockTrf">
                        <mat-header-cell *matHeaderCellDef>
                          BlockTrf<br>
                          変換行列？<br>
                          開始X<br>
                          開始Y
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                          {{element.getBlockZz()}}<br>
                          {{element.getBlockX()}}<br>
                          {{element.getBlockY()}}
                        </mat-cell>
                      </ng-container>
    
                      <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
                    </mat-table>
                  </div>
                  </mat-expansion-panel>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.coverApplicationParamsTags.length>0">
        <h3 id="coverApplicationParams_top">CoverApplicationParams</h3>
        <div>
          <div *ngFor="let t of jdf.coverApplicationParamsTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>NoOp</td>
                    <td>{{t.noOp}}</td>
                  </tr>
                  <tr *ngIf="jdf.getProcessesUsingThisParams(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.spinePreparationParamsTags.length>0">
        <h3 id="spinePreparationParams_top">SpinePreparationParams</h3>
        <div>
          <div *ngFor="let t of jdf.spinePreparationParamsTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>MillingDepth</td>
                    <td>{{t.millingDepth}}</td>
                  </tr>
                  <tr *ngIf="jdf.getProcessesUsingThisParams(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    
      <div *ngIf="jdf.stackingParamsTags.length>0">
        <h3 id="stackingParams_top">StackingParams</h3>
        <div>
          <div *ngFor="let t of jdf.stackingParamsTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
    <!--            <mat-card-subtitle>{{t.klass}}</mat-card-subtitle>
    -->
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">
                  <tr>
                    <td>ID</td>
                    <td>{{t.id}}</td>
                  </tr>
                  <tr>
                    <td>Class</td>
                    <td>{{t.klass}}</td>
                  </tr>
                  <tr>
                    <td>StandardAmount</td>
                    <td>{{t.standardAmount}}</td>
                  </tr>
                  <tr>
                    <td>LayerAmount</td>
                    <td>{{t.layerAmount}}</td>
                  </tr>
                  <tr *ngIf="jdf.getProcessesUsingThisParams(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <div *ngIf="jdf.unknownResourceTags.length>0">
        <h3 id="unknownResources_top">Unknown Resources</h3>
        <div>
          <div *ngFor="let t of jdf.unknownResourceTags" id="{{t.guid}}" [class.selected]="isSelected(t.guid)" class="example-card" (click)="cardClicked(t.guid)">
            <mat-card>
              <mat-card-header>
                <mat-card-title>{{t.id}}</mat-card-title>
    <!--            <mat-card-subtitle>{{t.klass}}</mat-card-subtitle>
    -->
              </mat-card-header>
              <mat-card-content>
                <table rules="rows">

                  <tr *ngFor="let p of t.attributes">
                    <td>{{p.name}}</td>
                    <td>{{p.value}}</td>
                  </tr>

                  <tr *ngIf="jdf.getProcessesUsingThisParams(t).length>0">
                    <td>利用工程</td>
                    <td>
                      <div *ngFor="let process of jdf.getProcessesUsingThisParams(t)">
                        <span class="like-link" (click)="scrollAndSelectTo($event,process.guid)">{{process.id}}</span>
                      </div>
                    </td>
                  </tr>
                </table>
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title></mat-panel-title>
                    <mat-panel-description>JDF該当部分</mat-panel-description>
                  </mat-expansion-panel-header>
                  <pre><code class="html" [textContent]="t.body" appMyHighlight></code></pre>
                </mat-expansion-panel>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
      </div>
  <ng-template #elseBlock>
    <!-- ファイル開いていない時 -->
    <div>
      <div id="drop_zone" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
        <p>JDFファイルをドロップしてちょうだい</p>
      </div>
    </div>

  </ng-template>

  <button (click)="test()">message-dialog</button><br>
  <!-- 共通 --
  <button (click)="sayHello()">jjv-serverとテスト通信</button><br>
  <strong>message:</strong><br>
  {{ret_from_http}}<br>
  <strong>input:</strong><br>
  {{ret_from_http_input|json}}<br>
  
  <br><br>
  <button (click)="saveMessage()">jjv-serverにテスト書き込み</button><br>
  {{ret_from_post}}<br>
  <button (click)="saveMessage3()">jjv-serverからgetFiles</button><br>
  -->
</div>
