.example-icon {
    padding: 0 14px;
  }
  
.example-spacer {
  flex: 1 1 auto;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 100;
/*    border-bottom: 1px solid black;*/
/*    border: 2px outset blue; */
    box-shadow: 0px 4px 5px gray;
}

.headerDivider {
    border-left:1px solid #38546d; 
    border-right:1px solid #fff;
    height:50%;
/*    margin-right: 4px;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
*/
/*    position:absolute;
    right:249px;
    top:10px; 
*/
}

#content {
    padding-top: 60px;
}

.example-card {
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.example-container {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    min-width: 300px;
}
  
.mat-table {
    overflow: auto;
    max-height: 300px;
}

.like-link {
    color: #55aa55;
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
}

.my-smaller {
    font-size: 80%;
}

.selected {
    box-shadow: 0px 0px 15px blue;
}


#cy {
    width: 300px;
    height: 450px;
    display: block;
    border-radius: 3px;

    -webkit-border-radius: 3px;/* for Safari and Chrome 対応*/
    -moz-border-radius: 3px;/* for Firefox 対応*/
    border: 1px solid white;
}


.light-frame {
    border-radius: 3px;
    -webkit-border-radius: 3px;/* for Safari and Chrome 対応*/
    -moz-border-radius: 3px;/* for Firefox 対応*/
/*    box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.2)
    ,0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
*/
    border: 1px solid white;
}

.light-frame:hover {
    border-color: lightgrey;
}

#fmenu {
    float: left;
    width: 306px;
    position: fixed;
/*    margin: 8px;*/
    padding: 4px;
    margin-left: 4px;
/*    border: 1px solid black; */
    border-radius: 4px;
    -webkit-border-radius: 4px;/* for Safari and Chrome 対応*/
    -moz-border-radius: 4px;/* for Firefox 対応*/
 /*   box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.2)
    ,0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
*/
    border: 1px solid white;
}

#fmenu:hover {
    border: 1px solid lightgrey;
}

#main {
/*    position: absolute;*/ /* うーん。どうすればヘッダーに隠れずに済ませられるのか。ScrollToするとヘッダーの下にジャンプすることがあるのよ */
    padding-left: 350px;
}


label.selectFile {
    color: white;  
    background-color: red;
    padding: 6px;
    border-radius: 12px;
}

table {
    border-color: #dddddd;
}

td,th {
    padding: 5px;
}

#drop_zone {
    width: 90%;
    height: 500px;
    border: 1px solid lightgray;

    display: flex;
    justify-content: center;
    align-items: center;
/*    margin-top: 20px;
*/    margin: 20px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#drop_zone:hover {
    background-color: lightyellow;
}

.toolbar-fn {
    font-size: small;
/*
spanじゃ効かない？かといって p とか display:inline-block 試したらレイアウト崩れた。難しいね。
    border-width: 1;
    border-color: black;
    width: 60%;
    max-width: 300px;
*/
}

.graph-tool {
    display: flex;
    justify-content: flex-end;
}

.card-title {
    font-size: large;
    font-weight: bold;
}

ul {
    list-style-type: none;
    font-size: small;
}

.parser-error {
    border-radius: 8px;
    -webkit-border-radius: 8px;/* for Safari and Chrome 対応*/
    -moz-border-radius: 8px;/* for Firefox 対応*/
 /*   box-shadow:0px 0px 4px 2px rgba(0, 0, 0, 0.2)
    ,0px 0px 4px 2px rgba(0, 0, 0, 0.2) inset;
*/
    border: 3px solid red;
    background-color: pink;

    padding: 10px;
    margin: 20px;
}